In [12]:
import pandas as pd
import numpy as np
import math
from sklearn.cluster import KMeans
import sklearn.preprocessing as preprocessing

In [24]:
data = pd.read_csv('Indicators.csv')
data.shape

(5656458, 6)

In [4]:
rel_columns_8 = ['Adolescent fertility rate (births per 1,000 women ages 15-19)',
 'Birth rate, crude (per 1,000 people)',
 'Net enrolment rate, secondary, both sexes (%)',
 'Net enrolment rate, secondary, female (%)',
 'Net enrolment rate, secondary, male (%)',
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
 'Mortality rate, under-5, female (per 1,000 live births)',
 'Mortality rate, under-5, male (per 1,000 live births)',
 'Prevalence of anemia among children (% of children under 5)',
 'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
 'Cause of death, by non-communicable diseases (% of total)',
 'Survey mean consumption or income per capita, bottom 40% of population (2005 PPP $ per day)',
 'Survey mean consumption or income per capita, total population (2005 PPP $ per day)']

In [5]:
# 여기서부터 관련도 높은 feature 뽑는 것
target_id = 'Adolescent fertility rate (births per 1,000 women ages 15-19)';

target = data[data['IndicatorName']==target_id]

In [25]:
merged = data[data['IndicatorName']==target_id]

for i in rel_columns_8:
    target = data[data['IndicatorName']==i]
    target.rename(columns={"Value": i}, inplace = True)
    target=target.drop(columns=['IndicatorCode', 'IndicatorName', 'CountryName'])
#    print(target.head())
    merged_bef = merged
    merged = pd.merge(merged, target)
    if len(merged) < 500:
        merged = merged_bef
#    print(merged.head())

merged

c:\users\parksoyoung\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Birth rate, crude (per 1,000 people)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, secondary, female (%)","Net enrolment rate, secondary, male (%)",Prevalence of anemia among children (% of children under 5)
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,69.020564,69.020564,35.138300,44.576275,39.293392,49.667217,53.673302
1,Caribbean small states,CSS,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,90.664634,90.664634,25.257613,64.583374,66.755806,62.447144,42.518994
2,Euro area,EMU,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,14.604634,14.604634,11.720194,79.480003,80.562958,78.446426,19.434867
3,European Union,EUU,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,22.283391,22.283391,12.375231,80.662552,81.711151,79.662552,22.427980
4,High income,HIC,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,33.709503,33.709503,14.585758,81.518730,82.150581,80.926880,23.921785
5,High income: OECD,OEC,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,26.662798,26.662798,13.652285,83.069412,83.782578,82.389725,18.861448
6,Least developed countries: UN classification,LDC,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,135.511948,135.511948,42.473446,15.394602,12.155324,18.571140,75.306228
7,Middle East & North Africa (all income levels),MEA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,68.680675,68.680675,33.544956,49.202000,44.690079,53.519825,48.646734
8,Middle East & North Africa (developing only),MNA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,70.065273,70.065273,33.850139,49.028133,44.022461,53.780590,48.743728
9,North America,NAC,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,53.848894,53.848894,16.529283,83.866615,84.452255,83.308624,16.563037
10,OECD members,OED,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,36.300415,36.300415,15.486469,75.894135,75.579536,76.201630,24.393295
11,Other small states,OSS,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,104.123269,104.123269,37.213793,25.984221,26.131920,25.856102,62.245011
12,Small states,SST,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,97.073632,97.073632,33.464528,39.510616,40.443905,38.613106,56.286683
13,Barbados,BRB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,54.719800,54.719800,16.025000,79.686490,74.063610,85.225890,43.500000
14,Botswana,BWA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,102.052400,102.052400,34.509000,31.161090,33.912570,28.424530,47.000000
15,Costa Rica,CRI,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,93.173400,93.173400,26.615000,37.177750,38.488490,35.921550,28.700000
16,Cuba,CUB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,75.802000,75.802000,16.790000,69.389700,71.895790,66.990260,36.100000
17,Denmark,DNK,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,9.028200,9.028200,12.300000,87.177670,88.276500,86.126640,18.200000
18,France,FRA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,12.054600,12.054600,13.400000,82.417490,85.307630,79.660000,18.000000
19,Guinea,GIN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,180.714600,180.714600,46.505000,6.968310,3.814830,10.145590,82.900000
20,Malta,MLT,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,12.028000,12.028000,15.200000,77.849460,77.185140,78.479480,17.600000
21,Netherlands,NLD,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,6.999800,6.999800,13.200000,81.859990,82.908550,80.855360,18.500000
22,New Zealand,NZL,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,32.784400,32.784400,17.500000,84.584080,85.078210,84.105080,17.900000
23,Niger,NER,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,222.213000,222.213000,55.122000,5.615240,3.186700,8.365390,87.200000
24,Norway,NOR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,16.579600,16.579600,14.400000,87.350960,88.422040,86.325110,19.300000
25,Sweden,SWE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,11.529600,11.529600,14.500000,84.893630,85.339870,84.467900,18.700000
26,Switzerland,CHE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,6.444200,6.444200,12.500000,77.167810,74.013640,80.164940,18.500000
27,Tonga,TON,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,25.518000,25.518000,31.092000,81.840630,82.926830,80.820500,42.500000
28,United Kingdom,GBR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,30.975400,30.975400,13.900000,77.864930,78.972130,76.811040,14.000000
29,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1991,67.755451,67.755451,34.298232,44.736084,39.699516,49.606743,52.564443
...,...,...,...,...,...,...,...,...,...,...,...,...
1892,Niger,NER,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,209.427000,209.427000,50.072000,12.199370,9.709640,14.690440,75.600000
1893,Norway,NOR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,6.669800,6.669800,12.200000,95.541542,95.861168,95.241150,14.100000
1894,Oman,OMN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,11.229400,11.229400,21.091000,88.028702,86.329689,89.721878,40.700000
1895,Pakistan,PAK,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,40.982400,40.982400,30.047000,34.529259,29.573111,39.165291,61.100000
1896,Panama,PAN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,79.201800,79.201800,20.187000,64.520058,67.476242,61.677219,31.600000
1897,Paraguay,PRY,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,61.758200,61.758200,22.117000,62.558842,64.867340,60.325089,27.200000
1898,Peru,PER,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,52.650800,52.650800,20.674000,77.138237,77.474800,76.812317,33.200000
1899,Poland,POL,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,14.965800,14.965800,10.100000,90.366447,91.092232,89.672592,26.400000
1900,Qatar,QAT,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,12.394800,12.394800,12.063000,94.945084,100.000000,90.556602,25.700000
1901,Samoa,WSM,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,28.935600,28.935600,27.372000,80.006737,85.797058,74.731216,32.000000
1902,Sao Tome and Principe,STP,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,89.473800,89.473800,35.378000,49.333809,53.233681,45.531830,58.500000
1903,Serbia,SRB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,20.869400,20.869400,9.100000,90.338516,91.013939,89.697327,26.300000
1904,Seychelles,SYC,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,59.999000,59.999000,18.600000,74.577461,78.426018,71.033821,37.400000
1905,Slovenia,SVN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,4.583400,4.583400,10.700000,93.230927,93.618607,92.864212,27.300000
1906,Spain,ESP,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,9.591800,9.591800,10.100000,95.001602,95.795059,94.251228,13.900000
1907,Sri Lanka,LKA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,18.679400,18.679400,18.332000,85.405449,87.499939,83.366150,36.100000
1908,St. Lucia,LCA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,57.328000,57.328000,16.028000,82.852287,84.207321,81.506104,41.000000
1909,Suriname,SUR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,48.716200,48.716200,18.986000,57.200939,62.844471,51.715759,38.700000
1910,Swaziland,SWZ,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,86.697600,86.697600,30.695000,34.924309,37.627449,32.255100,44.000000
1911,Sweden,SWE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,5.573600,5.573600,11.800000,91.494728,91.552902,91.439697,13.500000
1912,Switzerland,CHE,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,3.695000,3.695000,10.200000,83.007378,81.850983,84.101112,14.000000
1913,Syrian Arab Republic,SYR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,42.759600,42.759600,24.662000,68.271301,68.350540,68.196579,36.700000
1914,Tajikistan,TJK,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,40.054000,40.054000,30.708000,83.169777,78.605103,87.559288,27.400000
1915,Thailand,THA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,44.245600,44.245600,11.510000,81.686432,85.613632,77.859093,29.500000
1916,Timor-Leste,TMP,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,54.925800,54.925800,36.153000,37.713120,39.749409,35.752121,45.400000
1917,Turkey,TUR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,33.236000,33.236000,17.439000,84.689552,81.948227,87.341667,30.100000
1918,Ukraine,UKR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,28.444600,28.444600,11.000000,84.565529,84.612984,84.520332,26.700000
1919,United Kingdom,GBR,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,19.607400,19.607400,12.800000,96.538406,97.136269,95.970169,12.800000
1920,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,31.952200,31.952200,12.700000,87.468071,88.174149,86.796509,6.300000
1921,"Venezuela, RB",VEN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,81.229200,81.229200,20.407000,72.590660,76.487160,68.850922,32.000000

In [28]:
merged['grade'] = merged['Value']/50
for i in range(len(merged)):
    merged.loc[i, 'grade'] = math.ceil(merged.loc[i, 'grade'])
merged.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Birth rate, crude (per 1,000 people)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, secondary, female (%)","Net enrolment rate, secondary, male (%)",Prevalence of anemia among children (% of children under 5),grade
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,69.020564,69.020564,35.138300,44.576275,39.293392,49.667217,53.673302,2.0
1,Caribbean small states,CSS,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,90.664634,90.664634,25.257613,64.583374,66.755806,62.447144,42.518994,2.0
2,Euro area,EMU,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,14.604634,14.604634,11.720194,79.480003,80.562958,78.446426,19.434867,1.0
3,European Union,EUU,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,22.283391,22.283391,12.375231,80.662552,81.711151,79.662552,22.427980,1.0
4,High income,HIC,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,33.709503,33.709503,14.585758,81.518730,82.150581,80.926880,23.921785,1.0

In [22]:
# label encode categorical data (array)
def labelEncode_arr(y):
    '''
    label encoding array
    return value: label encoded array
    '''
    le = preprocessing.LabelEncoder()
    le.fit(y)
    y= le.transform(y)
    return y

In [29]:
merged['CountryName']= labelEncode_arr(merged['CountryName'])
merged['IndicatorName']= labelEncode_arr(merged['IndicatorName'])

In [14]:
def calcAccuracy(x,y):
    '''
    print accuracy of prediction
    '''
    correct=0
    for i in range(len(x)):
        predict_me= np.array(x[i].astype(float))
        predict_me = predict_me.reshape(-1, len(predict_me)) 
        prediction = kmeans.predict(predict_me)
        if prediction[0] == y[i]:
            correct += 1
    print(correct/len(x))

In [31]:
merged.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Birth rate, crude (per 1,000 people)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, secondary, female (%)","Net enrolment rate, secondary, male (%)",Prevalence of anemia among children (% of children under 5),grade
0,5,ARB,0,SP.ADO.TFRT,1990,69.020564,69.020564,35.138300,44.576275,39.293392,49.667217,53.673302,2.0
1,28,CSS,0,SP.ADO.TFRT,1990,90.664634,90.664634,25.257613,64.583374,66.755806,62.447144,42.518994,2.0
2,50,EMU,0,SP.ADO.TFRT,1990,14.604634,14.604634,11.720194,79.480003,80.562958,78.446426,19.434867,1.0
3,53,EUU,0,SP.ADO.TFRT,1990,22.283391,22.283391,12.375231,80.662552,81.711151,79.662552,22.427980,1.0
4,67,HIC,0,SP.ADO.TFRT,1990,33.709503,33.709503,14.585758,81.518730,82.150581,80.926880,23.921785,1.0

In [32]:
merged=merged.drop(columns=['IndicatorCode', 'CountryCode'])

In [36]:
merged.head()

,CountryName,IndicatorName,Year,Value,"Adolescent fertility rate (births per 1,000 women ages 15-19)","Birth rate, crude (per 1,000 people)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, secondary, female (%)","Net enrolment rate, secondary, male (%)",Prevalence of anemia among children (% of children under 5),grade
0,5,0,1990,69.020564,69.020564,35.138300,44.576275,39.293392,49.667217,53.673302,2.0
1,28,0,1990,90.664634,90.664634,25.257613,64.583374,66.755806,62.447144,42.518994,2.0
2,50,0,1990,14.604634,14.604634,11.720194,79.480003,80.562958,78.446426,19.434867,1.0
3,53,0,1990,22.283391,22.283391,12.375231,80.662552,81.711151,79.662552,22.427980,1.0
4,67,0,1990,33.709503,33.709503,14.585758,81.518730,82.150581,80.926880,23.921785,1.0

In [39]:
X= np.array(merged.drop(['grade'], 1).astype(float))
y=merged['grade']

In [43]:
# trial 1
kmeans= KMeans(n_clusters=5, max_iter=600, algorithm='auto')
kmeans.fit(X)
calcAccuracy(X,y)

0.38241415192507805