In [2]:
import pandas as pd
import numpy as np
import math
from sklearn.cluster import KMeans
import sklearn.preprocessing as preprocessing

In [125]:
data = pd.read_csv('Indicators.csv')
data.shape

(5656458, 6)

In [126]:
data['Year'].unique()
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [127]:
data2000=data[ (data['Year'] >= 2000) & (data['Year'] < 2015) ]

In [128]:
print(len(data2000))
data2000.isna().sum()

2470684

CountryName      0
CountryCode      0
IndicatorName    0
IndicatorCode    0
Year             0
Value            0
dtype: int64

In [131]:

col8 = data2000[(data2000['IndicatorName'].isin(rel_columns_8))]
col8.index

Int64Index([3171031, 3171063, 3171064, 3171066, 3171288, 3171289, 3171319,
            3171320, 3171321, 3171389,
            ...
            5637555, 5637984, 5638501, 5639029, 5639237, 5639819, 5639867,
            5640160, 5640552, 5641121],
           dtype='int64', length=16417)

In [133]:
name_list = list()

for i in col8.index:
    name_list.append( col8.loc[i,'CountryName'] + "_" + str(col8.loc[i,'Year']))
col8["name"] = name_list

c:\users\parksoyoung\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [134]:
data = col8

In [135]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,name
3171031,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2000,53.829472,Arab World_2000
3171063,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,2000,28.282837,Arab World_2000
3171064,Arab World,ARB,"Cause of death, by communicable diseases and m...",SH.DTH.COMM.ZS,2000,34.960297,Arab World_2000
3171066,Arab World,ARB,"Cause of death, by non-communicable diseases (...",SH.DTH.NCOM.ZS,2000,56.536043,Arab World_2000
3171288,Arab World,ARB,"Mortality rate, under-5, female (per 1,000 liv...",SH.DYN.MORT.FE,2000,56.807549,Arab World_2000

In [4]:
rel_columns_8 = ['Adolescent fertility rate (births per 1,000 women ages 15-19)',
 'Birth rate, crude (per 1,000 people)',
 'Net enrolment rate, secondary, both sexes (%)',
 'Net enrolment rate, secondary, female (%)',
 'Net enrolment rate, secondary, male (%)',
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
 'Mortality rate, under-5, female (per 1,000 live births)',
 'Mortality rate, under-5, male (per 1,000 live births)',
 'Prevalence of anemia among children (% of children under 5)',
 'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
 'Cause of death, by non-communicable diseases (% of total)',
 'Survey mean consumption or income per capita, bottom 40% of population (2005 PPP $ per day)',
 'Survey mean consumption or income per capita, total population (2005 PPP $ per day)']

In [5]:
rel_columns_7 = ['Adolescent fertility rate (births per 1,000 women ages 15-19)',
 'Age dependency ratio (% of working-age population)',
 'Age dependency ratio, young (% of working-age population)',
 'Birth rate, crude (per 1,000 people)',
 'Fertility rate, total (births per woman)',
 'Life expectancy at birth, female (years)',
 'Life expectancy at birth, male (years)',
 'Life expectancy at birth, total (years)',
 'Mortality rate, adult, female (per 1,000 female adults)',
 'Mortality rate, infant (per 1,000 live births)',
 'Mortality rate, under-5 (per 1,000)',
 'Population, ages 0-14 (% of total)',
 'Population, ages 15-64 (% of total)',
 'Survival to age 65, female (% of cohort)',
 'Survival to age 65, male (% of cohort)',
 'Adjusted net enrolment rate, primary, both sexes (%)',
 'Adjusted net enrolment rate, primary, female (%)',
 'Gross enrolment ratio, secondary, both sexes (%)',
 'Gross enrolment ratio, secondary, female (%)',
 'Gross enrolment ratio, secondary, male (%)',
 'Lower secondary completion rate, both sexes (%)',
 'Net enrolment rate, secondary, both sexes (%)',
 'Net enrolment rate, secondary, female (%)',
 'Net enrolment rate, secondary, male (%)',
 'Primary completion rate, both sexes (%)',
 'Primary completion rate, female (%)',
 'Survival rate to the last grade of primary education, both sexes (%)',
 'Lower secondary completion rate, female (%)',
 'Lower secondary completion rate, male (%)',
 'Survival rate to the last grade of primary education, female (%)',
 'Survival rate to the last grade of primary education, male (%)',
 'Survival rate to Grade 5 of primary education, female (%)',
 'Youth literacy rate, population 15-24 years, both sexes (%)',
 'Youth literacy rate, population 15-24 years, male (%)',
 'Teenage mothers (% of women ages 15-19 who have had children or are currently pregnant)',
 'Wanted fertility rate (births per woman)',
 'Access to electricity (% of population)',
 'Access to electricity, rural (% of rural population)',
 'Improved sanitation facilities (% of population with access)',
 'Improved sanitation facilities, rural (% of rural population with access)',
 'Improved sanitation facilities, urban (% of urban population with access)',
 'Improved water source (% of population with access)',
 'Improved water source, rural (% of rural population with access)',
 'Lifetime risk of maternal death (%)',
 'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
 'Mortality rate, infant, female (per 1,000 live births)',
 'Mortality rate, infant, male (per 1,000 live births)',
 'Mortality rate, neonatal (per 1,000 live births)',
 'Mortality rate, under-5, female (per 1,000 live births)',
 'Mortality rate, under-5, male (per 1,000 live births)',
 'Prevalence of anemia among children (% of children under 5)',
 'Prevalence of anemia among pregnant women (%)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
 'Cause of death, by non-communicable diseases (% of total)',
 'Survey mean consumption or income per capita, bottom 40% of population (2005 PPP $ per day)',
 'Survey mean consumption or income per capita, total population (2005 PPP $ per day)']

In [6]:
# 여기서부터 관련도 높은 feature 뽑는 것
target_id = 'Adolescent fertility rate (births per 1,000 women ages 15-19)';

target = data[data['IndicatorName']==target_id]

In [20]:
print(len(data['CountryName'].unique()))
data['CountryName'].unique()

247

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics',
       'East Asia & Pacific (all income levels)',
       'East Asia & Pacific (developing only)', 'Euro area',
       'Europe & Central Asia (all income levels)',
       'Europe & Central Asia (developing only)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'High income: nonOECD', 'High income: OECD',
       'Latin America & Caribbean (all income levels)',
       'Latin America & Caribbean (developing only)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa (all income levels)',
       'Middle East & North Africa (developing only)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Small states', 'South Asia',
       'Sub-Saharan Africa (all income levels)',
       'Sub-Saharan Africa (developing only)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Dem. Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Macedonia, FYR', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [23]:
def merge_8(merged):
    for i in rel_columns_8:
        target = data[data['IndicatorName']==i]
        target.rename(columns={"Value": i}, inplace = True)
        target=target.drop(columns=['IndicatorCode', 'IndicatorName', 'CountryCode'])
        merged_bef = merged
        merged = pd.merge(merged, target)
        if len(merged) < 300:
            merged = merged_bef
    return merged

In [8]:
def merge_7(merged):
    for i in rel_columns_7:
        target = data[data['IndicatorName']==i]
        target.rename(columns={"Value": i}, inplace = True)
        target=target.drop(columns=['IndicatorCode', 'IndicatorName', 'CountryCode'])
        merged_bef = merged
        merged = pd.merge(merged, target)
        if len(merged) < 300:
            merged = merged_bef
    return merged

In [9]:
def make_grade(merged, k):
    min_value = min(merged['Value'])
    max_value = max(merged['Value'])
    value=(max_value-min_value)/k
    for i in range(k):
        for j in range(len(merged)):
            if merged.loc[j, 'Value'] > min_value + value*i and merged.loc[j, 'Value'] < min_value + value*(i+1):
                merged.loc[j, 'grade'] = i
    return merged

In [10]:
# label encode categorical data (array)
def labelEncode_arr(y):
    '''
    label encoding array
    return value: label encoded array
    '''
    le = preprocessing.LabelEncoder()
    le.fit(y)
    y= le.transform(y)
    return y

In [11]:
def calcAccuracy(kmeans, x,y):
    '''
    print accuracy of prediction
    '''
    correct=0
    for i in range(len(x)):
        predict_me= np.array(x[i].astype(float))
        predict_me = predict_me.reshape(-1, len(predict_me))
        prediction = kmeans.predict(predict_me)
        if prediction[0] == y[i]:
            correct += 1
    print(correct/len(x))

In [12]:
def preprocess_df_8(merged, k):
    merged=merge_8(merged)
    make_grade(merged, k)
    
    merged['CountryName']= labelEncode_arr(merged['CountryName'])
    
    return merged

In [13]:
def preprocess_df_7(merged, k):
    merged=merge_7(merged)
    make_grade(merged, k)
    
    merged['CountryName']= labelEncode_arr(merged['CountryName'])

    return merged

In [137]:
def predict_8(merged_8, k):
    merged_8 = data[data['IndicatorName']==target_id]
    merged_8 =preprocess_df_8(merged_8, k)
    
    merged_8['CountryName']= labelEncode_arr(merged_8['CountryName'])
    merged_8['IndicatorName']= labelEncode_arr(merged_8['IndicatorName'])
    merged_8= merged_8.drop(columns=['CountryCode', 'IndicatorCode', 'name'])
    
    kmeans= KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=800, 
               n_clusters=k, n_init=20, n_jobs=1, precompute_distances='auto', 
               random_state=None, tol=0.0001, verbose=0)

    X= np.array(merged_8.drop(['grade'], 1).astype(float))
    y=merged_8['grade']

    print('bef', len(X[0]))
    kmeans.fit(X)
    return calcAccuracy(kmeans, X,y)

In [138]:
def predict_7(merged_7, k):
    merged_7 = data[data['IndicatorName']==target_id]
    merged_7 =preprocess_df_7(merged_7, k)
    
    merged_7['CountryName']= labelEncode_arr(merged_7['CountryName'])
    merged_7['IndicatorName']= labelEncode_arr(merged_7['IndicatorName'])
    merged_7= merged_7.drop(columns=['CountryCode', 'IndicatorCode', 'name'])

    kmeans= KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=800, 
               n_clusters=k, n_init=20, n_jobs=1, precompute_distances='auto', 
               random_state=None, tol=0.0001, verbose=0)

    X= np.array(merged_7.drop(['grade'], 1).astype(float))
    y=merged_7['grade']

    kmeans.fit(X)
    return calcAccuracy(kmeans, X,y)

In [139]:
predict_8(target,5)

bef 10
0.5003538570417552

In [ ]:
predict_7(target,5)

c:\users\parksoyoung\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [18]:
### rel_columns_7
kmeans= KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=800, 
               n_clusters=2, n_init=20, n_jobs=1, precompute_distances='auto', 
               random_state=None, tol=0.0001, verbose=0)
kmeans.fit(X)

calcAccuracy(X,y)

NameError: name 'X' is not defined

In [ ]:
'''
선택지
1. rel_columns_8 or 7
2. 몇개 미만이면 제외할지
3. kmeans parameter
'''