In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn import preprocessing
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:


data=pd.read_csv("data/bank-additional-full.csv",sep=";")
y=data.iloc[:,-1]
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
print(y.value_counts())

no     36548
yes     4640
Name: y, dtype: int64

In [4]:
va=data['job'].values
print(len(va.unqiue()))
te=data[['job','y']]
temp=te.groupby('job')['y'].value_counts()
print(temp)
"""for i in range(len(va)):
    
    print(temp[va[i]]['no'] /temp[va[i]].sum())
    print(temp[va[i]]['yes'] /temp[va[i]].sum())

print(temp)
#k['no']=k['no']/y.value_counts()[0]
#k['yes']=k['yes']/y.value_counts()[0]
"""

AttributeError: 'numpy.ndarray' object has no attribute 'unqiue'

In [5]:
object_feature = [col for col in data.columns if data[col].dtypes == 'object' ]

for i in object_feature:
    te=data.groupby('y')[i].value_counts()
    print("<no>")
    print(te['no']/y.value_counts()[0])
    print("\n <yes>")
    print(te['yes']/y.value_counts()[1])
    
    print("----\n\n")

<no>
job
admin.           0.248167
blue-collar      0.235745
technician       0.164523
services         0.099759
management       0.071030
entrepreneur     0.036445
retired          0.035187
self-employed    0.034804
housemaid        0.026103
unemployed       0.023804
student          0.016417
unknown          0.008017
Name: job, dtype: float64

 <yes>
job
admin.           0.291379
technician       0.157328
blue-collar      0.137500
retired          0.093534
management       0.070690
services         0.069612
student          0.059267
self-employed    0.032112
unemployed       0.031034
entrepreneur     0.026724
housemaid        0.022845
unknown          0.007974
Name: job, dtype: float64
----


<no>
marital
married     0.612783
single      0.272190
divorced    0.113166
unknown     0.001861
Name: marital, dtype: float64

 <yes>
marital
married     0.545690
single      0.349138
divorced    0.102586
unknown     0.002586
Name: marital, dtype: float64
----


<no>
education
university.degree      0.287239
high.school            0.232133
basic.9y               0.152457
professional.course    0.127175
basic.4y               0.102550
basic.6y               0.057568
unknown                0.040495
illiterate             0.000383
Name: education, dtype: float64

 <yes>
education
university.degree      0.359914
high.school            0.222198
professional.course    0.128233
basic.9y               0.101940
basic.4y               0.092241
unknown                0.054095
basic.6y               0.040517
illiterate             0.000862
Name: education, dtype: float64
----


<no>
default
no         0.776814
unknown    0.223104
yes        0.000082
Name: default, dtype: float64

 <yes>
default
no         0.904526
unknown    0.095474
Name: default, dtype: float64
----


<no>
housing
yes        0.521752
no         0.454088
unknown    0.024160
Name: housing, dtype: float64

 <yes>
housing
yes        0.540302
no         0.436638
unknown    0.023060
Name: housing, dtype: float64
----


<no>
loan
no         0.823574
yes        0.152266
unknown    0.024160
Name: loan, dtype: float64

 <yes>
loan
no         0.829741
yes        0.147198
unknown    0.023060
Name: loan, dtype: float64
----


<no>
contact
cellular     0.60991
telephone    0.39009
Name: contact, dtype: float64

 <yes>
contact
cellular     0.830388
telephone    0.169612
Name: contact, dtype: float64
----


<no>
month
may    0.352495
jul    0.178532
aug    0.151116
jun    0.130212
nov    0.100826
apr    0.057267
oct    0.011027
sep    0.008591
mar    0.007388
dec    0.002545
Name: month, dtype: float64

 <yes>
month
may    0.190948
aug    0.141164
jul    0.139871
jun    0.120474
apr    0.116164
nov    0.089655
oct    0.067888
mar    0.059483
sep    0.055172
dec    0.019181
Name: month, dtype: float64
----


<no>
day_of_week
mon    0.209779
thu    0.207344
wed    0.196591
tue    0.195277
fri    0.191009
Name: day_of_week, dtype: float64

 <yes>
day_of_week
thu    0.225216
tue    0.205388
wed    0.204526
mon    0.182543
fri    0.182328
Name: day_of_week, dtype: float64
----


<no>
poutcome
nonexistent    0.887107
failure        0.099787
success        0.013106
Name: poutcome, dtype: float64

 <yes>
poutcome
nonexistent    0.676940
success        0.192672
failure        0.130388
Name: poutcome, dtype: float64
----


<no>
y
no    1.0
Name: y, dtype: float64

 <yes>
y
yes    1.0
Name: y, dtype: float64
----

In [ ]:
#data=data.drop(columns=object_feature)

In [7]:
object_feature = [col for col in data.columns if data[col].dtypes == 'object' ]

In [8]:
df=pd.get_dummies(data, prefix=object_feature)

In [9]:
data.info()
#X=data.iloc[:,0:10]
X=df.iloc[:,0:63]
X

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,1,0,0

In [10]:
labelX=preprocessing.LabelEncoder()
y=labelX.fit_transform(y)
y

array([0, 0, 0, ..., 0, 1, 0])

In [11]:
#standardscale function
def standardScale(df):
    #run standardscaling
    stand=preprocessing.StandardScaler()
    df2=stand.fit_transform(df)
    #return array after standardscaling
    return df2

In [12]:
X1=standardScale(X)

In [13]:
# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
# load the iris datasets
# fit an Extra Trees model to the data
model = ExtraTreesClassifier()
model.fit(X1, y)
# display the relative importance of each attribute
print(model.feature_importances_)

[0.07666248 0.21952067 0.05482548 0.03854083 0.01111039 0.02693436
 0.01590267 0.01796006 0.07853965 0.02369929 0.01512649 0.00848134
 0.0051551  0.00329744 0.0080887  0.00773303 0.0054467  0.00753933
 0.00536104 0.01223544 0.00438047 0.00220828 0.00943117 0.01486162
 0.01326603 0.00062057 0.00730934 0.00572213 0.00950786 0.01442295
 0.00026469 0.01070839 0.01422006 0.00672052 0.00608267 0.00589301
 0.         0.01705773 0.00230094 0.01769932 0.0114981  0.00218796
 0.01098858 0.00714426 0.00810295 0.00495554 0.00269086 0.00089145
 0.00338342 0.00367162 0.00753245 0.01013475 0.00333882 0.0079697
 0.00285035 0.01205865 0.01266061 0.01383484 0.01314266 0.01264042
 0.00457054 0.01225038 0.02666288]

In [14]:
feature_list = pd.concat([pd.Series(X.columns), pd.Series(model.feature_importances_)], axis=1)
feature_list.columns = ['features_name', 'importance']
feature_list.sort_values("importance", ascending =False).head(20)

                  features_name  importance
1                      duration    0.219521
8                     euribor3m    0.078540
0                           age    0.076662
2                      campaign    0.054825
3                         pdays    0.038541
5                  emp.var.rate    0.026934
62             poutcome_success    0.026663
9                   nr.employed    0.023699
7                 cons.conf.idx    0.017960
39                  housing_yes    0.017699
37                   housing_no    0.017058
6                cons.price.idx    0.015903
10                   job_admin.    0.015126
23              marital_married    0.014862
29        education_high.school    0.014423
32  education_university.degree    0.014220
57              day_of_week_thu    0.013835
24               marital_single    0.013266
58              day_of_week_tue    0.013143
56              day_of_week_mon    0.012661