In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [9]:
df=pd.read_csv("data/bank-additional-full.csv",sep=";")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [21]:
#X랑 y 나누기 
y=df['y']
X=df.drop(columns=['y'])
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [16]:
#split the dataset into training & testing set
def split(X,y,test_size):
    x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=test_size,random_state=0)
    return x_train, x_test, y_train, y_test

In [12]:
#df 중에서 원하는 columns만 one_hot encoding
def onehotEncoding(df,columns):
    onehot=pd.get_dummies(df, prefix=columns)
    return onehot

In [22]:
def labelEncoding(df, columns):
    
    # columns가 y인경우에는 시리즈 형태
    if len(columns)==1 and columns=="y":
        labelX=preprocessing.LabelEncoder()
        df=labelX.fit_transform(df)
    else:
        for i in columns:
            labelX=preprocessing.LabelEncoder()
            df.loc[:,i]=labelX.fit_transform(df.loc[:,i])
    return df

In [24]:
#카테고리컬 데이터 뽑는거
object_feature = [col for col in X.columns if X[col].dtypes == 'object' ]

#카테고릴컬 onehot encoding , 타겟은 라벨 인코딩
X=onehotEncoding(X,object_feature)
y=labelEncoding(y,"y")